html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* [disabled]border: 0; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of actual css*/
html
{
width:100%;
height:100%;

}

body
{
height:100%;
width:100%;	
}
/*Top Shadow*/
body:before 
{
content: "";
position: fixed;
top: -10px;
left: 0;
width: 100%;
height: 10px;

-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);
z-index: 100;
}

.container 
{
	margin: auto;
	padding-top: 10px;
	height: 100%;
	width: 100%;
	position: relative;
	min-width: 1120px;
	min-height: 750px;
	background-image: url("images/stripedBackground.png") fixed;
	background: url("images/stripedBackground.png") fixed;
	color: rgb(179,255,255);
	cursor: default;


}

@font-face {
    font-family: 'nevis';    
		src: url('_fonts/nevis.ttf') format('opentype');
    font-weight:100;
}
 
.header 
{
	width: 950px;
	height: 80px;
	margin: auto;
	background-color: rgb(119,195,195);
	
	/* Rounded Corners*/
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	
	/* Box Shadows*/
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
}

.header h1
{
	display: inline;
	font-family: nevis;
	font-size: 55px;
	margin-left: 120px;
	text-shadow: 0 0 0.2em rgb(100,255,255);
	color: rgb(38,140,130);
	position: absolute;
	top: -10px;
}

.navigation
{
	margin:auto;
	
	width:900px;
	height:50px;
	background-color: rgb(119,195,195);
	
	/*Rounded Corners*/
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	
	/* Box Shadows*/
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
	
	
}

.navigation 
{
	font-family:nevis;
	font-size:25px;
	color:rgb(230,255,210);
	cursor: default;
}


.navigation :hover
{
-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
	/*Rounded Corners*/
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
   cursor: default;
}

.navigation #about
{
	width:100px;
	display:inline;
	margin-left:16.5%;
	position:relative;
	top:13px;
	padding-left:6px;
	padding-right:6px;


}

.navigation #applets
{
	width:100px;
	display:inline;
	margin-left:15.5%;
	position:relative;
	top:13px;
	padding-left:6px;
	padding-right:6px;

}

.navigation #projects 
{
	width: 100px;
	display: inline;
	margin-left: 15.5%;
	position: relative;
	top: 13px;
	overflow: visible;
	padding-left:6px;
	padding-right:6px;


}




.mainbody
{
	width: 900px;
	margin:auto;
	margin-top: 20px;
	background-color: rgb(179,255,255);
	color: rgb(38,140,130);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;

	
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
  overflow:hidden;					
}

.mainbody h1
{
	text-align: left;
	margin-left:155px;
	font-size: 45px;
	text-shadow: 0 0 0.2em rgb(255,255,255);
	font-family: nevis;
	display:inline;
	position:relative;
	top:25px;

}

.mainbody a
{
	color:blue;
}

.mainbody #skills
{
	margin-left:208px;
}


.mainbody p
{
	margin: 78px 0px 0px 100px;
	font: 17.1px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 350px;
	height: 300px;
	position: absolute;
	font-size: 16px;
	font-weight: bold;
}

.mainbody hr
{
	margin-bottom:2px;
}

.mainbody #icons
{
	margin-left:122px;
}

.mainbody img
{
	  margin-left: 80px;   margin-right: auto; 
		margin-bottom:6px;
}

.mainbody #leftArrow
{
	position:relative;
	display:inline;
	margin:0px;
	bottom:220px;
	left:180px;
	
}

.mainbody #rightArrow
{
	position:relative;
	display:inline;
	margin:0px;
	bottom:220px;
	left:7px;
	
}



.mainbody img:hover
{
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.mainbody #links
{
	display:block;
	margin:-65px 0px 30px 0px;
	text-align:center;
}

#pHolder
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:185px;
}

.footer
{
	width: 100%;
	height: 110px;
	margin: auto;
	margin-top:40px;
	background-color: rgb(119,195,195);
	
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
  
}

a 
{
	text-decoration:none;
	color:inherit;

}

/* About Page Sliding Bars */
#skill { 
	list-style: none;
	font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 296px;
	margin: 48px 0px 0px 500px;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:46px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}



#skill li h3 { 
	position:relative; 
	top:-25px;
}

.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.ruby-on-rails {
	width:50%; 
	-moz-animation:ruby-on-rails 2s ease-out;
	-webkit-animation:ruby-on-rails 2s ease-out;
	background-color: #f674a4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
	background-image: -moz-linear-gradient(top, #f674a4, #e06995);
	background-image: -ms-linear-gradient(top, #f674a4, #e06995);
	background-image: -o-linear-gradient(top, #f674a4, #e06995);
	background-image: linear-gradient(top, #f674a4, #e06995);
}

.html-css {
	width:45%;
	-moz-animation:html-css 2s ease-out;
	-webkit-animation:html-css 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
	background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
	background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.processing {
	width:70%;
	-moz-animation:processing 2s ease-out;
	-webkit-animation:processing 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
	background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
	background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.javascript {
	width:20%;
	-moz-animation:javascript 2s ease-out;
	-webkit-animation:javascript 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
	background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
	background-image: linear-gradient(top, #66b3cc, #5da3ba)	
}

@-moz-keyframes ruby-on-rails {0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:45%;}  }
@-moz-keyframes processing      { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes javascript   { 0%  { width:0px;} 100%{ width:20%;}  }

@-webkit-keyframes ruby-on-rails       { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:45%;}  }
@-webkit-keyframes processing      { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes javascript   { 0%  { width:0px;} 100%{ width:20%;}  }
