html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* [disabled]border: 0; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of actual css*/
html
{
width:100%;
height:100%;

}

body
{
height:100%;
width:100%;	
}
/*Top Shadow*/
body:before 
{
content: "";
position: fixed;
top: -10px;
left: 0;
width: 100%;
height: 10px;

-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);
z-index: 100;
}

#container 
{
	margin: auto;
	padding-top:10px;
	height:100%;
	width:100%;
  position: relative;
	min-width:1023px;
	min-height:750px;
  background-image: url("images/stripedBackground.png");
	background: url("images/stripedBackground.png");
}

@font-face {
    font-family: 'nevis';    
		src: url('_fonts/nevis.ttf') format('opentype');
    font-weight:100;
}
 
#header 
{
	width: 900px;
	height: 80px;
	margin: auto;
	background-color: rgb(119,195,195);
	/* Rounded Corners*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;
	/* Box Shadows*/
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
}

#header h1
{
	display: inline;
	font-family: nevis;
	font-size: 55px;
	text-shadow: 0 0 0.2em rgb(100,255,255);
	color: rgb(38,140,130);
	padding-left:90px;
	position:absolute;
	top:-10px;
}

#navigation
{
	display:inline;
	width:100px;
	height:500px;
	left:0;
	top:15px;
	background:rgb(204,255,255);
	z-index:1;
	
	
}




#mainbody
{
	width: 900px;
	height: 500px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 60px;
	background-color: rgb(179,255,255);
	color: rgb(38,140,130);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px;

	
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
	
					
}

#footer
{
	width: 100%;
	height: 110px;
	margin: auto;
	margin-top: 20px;
	background-color: rgb(119,195,195);
	
	-moz-box-shadow:    inset 0 0 10px rgb(38,140,130);
  -webkit-box-shadow: inset 0 0 10px rgb(38,140,130);
  box-shadow:         inset 0 0 10px rgb(38,140,130);
  
}
