html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* [disabled]border: 0; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of actual css*/
html
{
width:100%;
height:100%;
}

body
{
height:100%;
width:100%;	
}

#container 
{
	margin: auto;
	height:100%;
	background-image:url(file:///C|/Users/Reed/Desktop/Dream%20Tuts/designagif/background.gif);
	width:100%;
    position: relative;
	min-width:1023px;
	min-height:750px;

}
 
#header 
{
	width: 1023px;
	/*min-width:600 px;*/
	height: 130px;
	margin: auto;
	background-color:#78CD7C;
	font-family:Arial, Helvetica, sans-serif;
	font-size:120px;
	color:white;
	text-shadow: -1px 0px 30px rgba(180, 146, 143, 0.75);
}

#wink_face
{
	style:inline;
	width:10%;
	height:60%;
	min-width:50px;
	min-heigh:50px;
}

#mainbody
{
   width: 965px;
   height: 500px;
   margin:auto;
   margin-top:20px;
	background-color:#58AD5C;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px; /* future proofing */
   -khtml-border-radius: 10px; 
}

#footer
{
  width: 1023px;
  height:73px;
  margin:auto;
  margin-top:20px;
  background-color:#78CD7C;
  
  -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px; /* future proofing */
   -khtml-border-radius: 10px; 
}







